.new-post {
    background-color: #fff;
}

.btn {
    margin: 10px;
    background: transparent;
    border-radius: 0;
    border: 1px solid;
    box-shadow: none;
    text-transform: none;
}

.btn:hover {
    border-width: 1.5px;
    padding: 5px 15px;
}

.btn:active {
    box-shadow: none;
}

.btn:focus, .btn:active:focus {
    outline: none;
}

textarea.form-control.content {
    height: 200px;
}